.wj-flexgrid * {
    border: 0;
}

.wj-flexgrid .cell-changed {
    background-color: lightpink !important;
}

.wj-flexgrid .cell-added {
    background-color: lightgreen !important;
}

.wj-cells .wj-cell {
    display: flex;
    align-items: center;
    padding: 0 4px 0 4px;
    min-height: 40px !important;
    text-align: start;
}

.wj-cell > div {
    display: block;
    width: 100% !important;
}
